<div class="col-2">
    <div class="alert alert-primary text-center" role="alert">
        <a asp-area="Admin" asp-controller="Order" asp-action="Index">Заказы</a>
    </div>
    <div class="alert alert-secondary text-center" role="alert">
        <a asp-area="Admin" asp-controller="User" asp-action="Detail">Пользователи</a>
    </div>
    <div class="alert alert-success text-center" role="alert">
        <a asp-area="Admin" asp-controller="Role" asp-action="Index">Роли</a>
    </div>
    <div class="alert alert-warning text-center" role="alert">
        <a asp-area="Admin" asp-controller="Product" asp-action="Index">Продукты</a>
    </div>
</div>