@model ChangePassword
<form method="post">
    <div>
        <h3>Смена пароля</h3>
    </div>
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-4 text-center">
            <ul>
                <li style="list-style-type:none">
                    <h5>Введите ваш логин</h5>
                    <input asp-for="UserName" type="text" class="form-control" name="login" placeholder="Логин" />
                    <span class="text-danger" asp-validation-for="UserName"></span>
                    <br />
                    <button class="btn btn-success" type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Сменить пароль</button>
                </li>
            </ul>
        </div>
    </div>
</form>
