@model Register
<form method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    @*<input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />*@
    <div class="row">
        <div class="col-4">
            <ul>
                <li style="list-style-type:none">
                    <h2>Вход</h2>
                    <br />
                    <input asp-for="UserName" type="text" class="form-control" placeholder="Логин" />
                    <span class="text-danger" asp-validation-for="UserName"></span>
                    <br />
                    <input asp-for="Phone" type="text" class="form-control" placeholder="Телефон" />
                    <span class="text-danger" asp-validation-for="Phone"></span>
                    <br />
                    <input asp-for="Email" type="text" name="emailAdress" class="form-control" placeholder="Почта" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                    <br />
                    <input asp-for="Password" type="text" class="form-control" placeholder="Пароль" />
                    <span class="text-danger" asp-validation-for="Password"></span>
                    <br />
                    <input asp-for="ConfirmPassword" type="text" class="form-control" placeholder="Подтвердите пароль" />
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    <br />                    
                </li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <ul>
                <li style="list-style-type:none">
                    <div class="d-flex" data-toggle="modal"  data-backdrop="static" data-keyboard="false" data-target="#emailModal">
                        <button class="btn btn-success" type="submit" asp-area="Account" asp-controller="Account" asp-action="Register" asp-route-emailAdress="@Model.Email">Зарегистрироваться</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>    
</form>

<div class="modal fade" id="emailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Отправка Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p3>На ваш email отправлено письмо с подтверждением регистрации</p3>
            </div>            
        </div>
    </div>
</div>   
