@model ChangePassword
<form method="post">
    <div>
        <h3>Смена пароля</h3>
    </div>
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <input type="hidden" name="userName" value="@Model.UserName" />
    <div class="row">
        <div class="col-10 text-center">
            <ul>
                <li style="list-style-type:none">                   
                    <input asp-for="Password" type="text" class="form-control" placeholder="Пароль" />
                    <span class="text-danger" asp-validation-for="Password"></span>
                    <br />
                    <input asp-for="ConfirmPassword" type="text" class="form-control" placeholder="Подтверждение пароля" />
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    <br />
                    <button class="btn btn-success" type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Обновить</button>
                </li>
            </ul>
        </div>
    </div>
</form>